<launch>
   <include file="$(find vizualisation)/launch/recording.launch" />  
   <include file="$(find cluster_message)/launch/cluster.launch" />
   <!-- <include file="$(find som)/launch/pose.launch" /> -->
   <include file="$(find cog_learning)/launch/start_learning.launch" />
   <include file="$(find habituation)/launch/habituation.launch" />
</launch>