<launch>
   <group ns="som_action">
      <param name="~train_som" type="bool" value="true" />
      <param name="~dataset" type="str" value="motion" />
      <param name="~epochs" type="int" value="324000" />
      <param name="~size" type="int" value="135" />
      <param name="~num_feat" type="int" value="3" />
      <param name="~model" type="str" value="$(find som)/models/new_model_motion.npy" />   
      <node name="som" pkg="som" type="som_run.py" output="screen"/>
   </group> 
</launch>