<launch>
   <param name="~train_som" type="bool" value="false" />
   <param name="~dataset" type="str" value="motion" />
   <param name="~epochs" type="int" value="15000" />
   <param name="~model" type="str" value="$(find som)/models/model_motion.npy" />   
   <node name="som" pkg="som" type="som.py" output="screen"/>
</launch>